name: Test Charts

on:
  push:

jobs:
  run-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v2.1
        with:
          version: v3.12.2

      - name: Install unittest plugin
        run: |
          helm env
          helm plugin install https://github.com/helm-unittest/helm-unittest

      - name: Run lint and unittest
        run: |
          for chart in charts/*; do
            helm lint $chart
            helm unittest $chart
          done
